*::selection {
    @apply bg-sky-500 text-white;
}

*::-webkit-scrollbar {
    @apply bg-slate-200;
    width: 7.5px;
}

*::-webkit-scrollbar:hover {
    @apply bg-slate-300;
    width: 7.5px;
}

*::-webkit-scrollbar-thumb {
    @apply bg-slate-500 rounded-full;
    width: 7.5px;
}

*::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600 rounded-full;
}

a {
    @apply text-sky-500 inline-block;
}

a:hover {
    @apply text-sky-600 cursor-pointer;
}

nav a:hover {
    @apply bg-sky-200;
}

.index-title-primary {
    @apply text-sky-500;
}

.text-primary {
    @apply text-sky-500
}

.bg-main {
    @apply bg-slate-200;
}

.card {
    @apply shadow-md rounded-md;
}

.btn {
    @apply rounded-md;
}

.btn:hover {
    @apply shadow-md;
}

.btn:active {
    @apply shadow-none;
}

.btn-primary {
    @apply bg-sky-500;
}

.btn-primary:hover {
    @apply bg-sky-600;
}

.btn-secondary {
    @apply bg-slate-200;
}

.btn-secondary:hover {
    @apply bg-slate-300;
}

.btn-white {
    @apply bg-white text-sky-500;
}

.btn-white:hover {
    transition: all .2s ease;
    @apply bg-sky-200 text-sky-500 cursor-pointer;
}

.marked {
    @apply text-sky-500;
}

.form-input {
    @apply rounded-md;
}

.form-input:focus {
    @apply bg-white outline-sky-500;
    transition: all .2s ease;
}

.form-checkbox input[type="checkbox"]:checked+.form-checkbox-icon::before {
    @apply text-sky-500 text-2xl;
}

.form-radio input[type="radio"]:checked+.form-radio-icon::before {
    @apply text-sky-500 text-2xl;
}

.tags a {
    @apply rounded-full py-1 px-3 text-sm text-sky-500 bg-sky-100;
}

.sigma {
    @apply bg-slate-200 rounded-md text-sky-500;
}