*::-moz-selection {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

*::selection {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

*::-webkit-scrollbar {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  width: 7.5px;
}

*::-webkit-scrollbar:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
  width: 7.5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0.125rem;
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
  width: 7.5px;
}

*::-webkit-scrollbar-thumb:hover {
  border-radius: 0.125rem;
  --tw-bg-opacity: 1;
  background-color: rgb(71 85 105 / var(--tw-bg-opacity));
}

.bg-main {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity));
  background-image: url('../img/sharp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.card {
  border-radius: 0.125rem;
  -webkit-animation: fade .25s ease;
          animation: fade .25s ease;
}

@-webkit-keyframes fade {
  from{
    opacity: 0;
    transform: rotateX(30deg) translateY(-13.4%);
  }

  to{
    opacity: 1;
    transform: rotateX(0) translateY(0);
  }
}

@keyframes fade {
  from{
    opacity: 0;
    transform: rotateX(30deg) translateY(-13.4%);
  }

  to{
    opacity: 1;
    transform: rotateX(0) translateY(0);
  }
}

a {
  --tw-text-opacity: 1;
  color: rgb(99 102 241 / var(--tw-text-opacity));
}

a:hover {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(99 102 241 / var(--tw-text-opacity));
}

.btn {
  border-radius: 0.125rem;
  text-transform: uppercase;
}

.btn:active {
  transition: all .1s ease;
  transform: scale(0.95);
}

.btn .mso {
  margin-right: 0.25rem;
  font-size: 1.2rem;
}

.btn-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity));
}

.btn-primary:hover {
  cursor: pointer;
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(99 102 241 / var(--tw-text-opacity));
}

.btn-white:hover {
  cursor: pointer;
  --tw-bg-opacity: 1;
  background-color: rgb(199 210 254 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(99 102 241 / var(--tw-text-opacity));
}

.marked {
  --tw-text-opacity: 1;
  color: rgb(99 102 241 / var(--tw-text-opacity));
}

.header {
  margin-top: 1.25rem;
  border-radius: 0.125rem;
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.index-header {
  margin-top: 1.25rem;
  border-radius: 0.125rem;
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.index-title-primary {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

nav a {
  --tw-text-opacity: 1;
  color: rgb(99 102 241 / var(--tw-text-opacity));
}

nav a:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

header nav a {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

/* form */

.form-input {
  border-radius: 0.125rem;
}

.form-input:focus {
  outline: 2.25px solid #6366f1;
}

.form-checkbox input[type="checkbox"]:checked+.form-checkbox-icon::before {
  --tw-text-opacity: 1;
  color: rgb(99 102 241 / var(--tw-text-opacity));
}

.form-radio input[type="radio"]:checked+.form-radio-icon::before {
  --tw-text-opacity: 1;
  color: rgb(99 102 241 / var(--tw-text-opacity));
}

.tags a {
  border-radius: 0.125rem;
  --tw-bg-opacity: 1;
  background-color: rgb(224 231 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(99 102 241 / var(--tw-text-opacity));
}

.sigma {
  border-radius: 0.125rem;
  --tw-text-opacity: 1;
  color: rgb(99 102 241 / var(--tw-text-opacity));
}