/* tailwind -i static/css/tailwind.css -o static/css/stylesheet.css */
@tailwind base;

@tailwind components;

* {
    font-family: 'Readex Pro', 'Noto Sans TC', sans-serif;
}

*::selection {
    @apply bg-blue-500 text-white;
}

*::-webkit-scrollbar {
    @apply bg-slate-200;
    width: 7.5px;
}

*::-webkit-scrollbar:hover {
    @apply bg-slate-300;
    width: 7.5px;
}

*::-webkit-scrollbar-thumb {
    @apply bg-slate-500 rounded-full;
    width: 7.5px;
}

*::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600 rounded-full;
}

.bg-main {
    @apply bg-slate-200;
    min-height: 100vh;
}

.mso {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: normal;
    text-transform: none;
    vertical-align: text-bottom;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

a {
    @apply text-blue-500 inline-block;
}

a:hover {
    @apply text-blue-600 cursor-pointer;
}

.text-primary {
    @apply text-blue-500;
}

.text-danger {
    @apply text-rose-500;
}

.btn {
    @apply rounded-full p-3 px-5 align-text-bottom inline-block;
    line-height: 1.2rem
}

.btn:active {
    transition: all .1s ease;
    transform: scale(0.95);
}

.btn .mso {
    @apply mr-1;
    font-size: 1.2rem
}

.btn p {
    @apply inline-block;
}

.btn-actionbar {
    @apply text-slate-500;
}

.btn-actionbar:hover {
    @apply text-slate-600 cursor-pointer;
}

.btn-primary {
    transition: all .2s ease;
    @apply bg-blue-500 text-white;
}

.btn-primary:hover {
    transition: all .2s ease;
    @apply bg-blue-600 text-white cursor-pointer;
}

.btn-danger {
    transition: all .2s ease;
    @apply bg-rose-500 text-white;
}

.btn-danger:hover {
    transition: all .2s ease;
    @apply bg-rose-600 text-white cursor-pointer;
}

.btn-white {
    transition: all .2s ease;
    @apply bg-white text-blue-500;
}

.btn-white:hover {
    transition: all .2s ease;
    @apply bg-blue-200 text-blue-500 cursor-pointer;
}

.btn-secondary {
    transition: all .2s ease;
    @apply bg-slate-200 text-slate-900;
}

.btn-secondary:hover {
    transition: all .2s ease;
    @apply bg-slate-300 text-slate-900 cursor-pointer;
}

/* nav */
nav {
    @apply flex gap-x-2;
}

nav a {
    @apply text-2xl text-slate-500 p-2 rounded-full inline-flex justify-center items-center;
    width: 3rem;
    height: 3rem;
    transition: all .2s ease;
}

nav a:hover {
    @apply bg-blue-200;
}

nav a:active {
    transition: all .1s ease;
    transform: scale(0.95);
}

.func-bar {
    @apply flex justify-between items-center p-3 sticky top-0 rounded-xl bg-white;
}

/* header */
.header {
    @apply p-2 flex justify-between items-center;
}

.header h1 {
    @apply text-2xl font-bold;
}

.index-header {
    @apply flex items-center justify-between p-5;
}

.index-header h1 {
    @apply text-3xl font-bold;
}

.index-title-primary {
    @apply text-blue-500;
}

/* card */
.card {
    @apply p-3 rounded-xl bg-white;
    animation: fade-in 0.2s ease-out;
}

.detail-title {
    @apply p-2 border-b flex justify-between items-center;
}

/* form */
.form-input {
    @apply w-full border border-slate-200 rounded-lg p-2 block;
    transition: background .2s ease;
}

.form-input:hover {
    @apply bg-slate-100;
    transition: background .2s ease;
}

.form-input:focus {
    @apply bg-white outline-blue-500;
    transition: all .2s ease;
}

.form-label {
    @apply text-slate-500 flex items-center my-2 ml-3;
}

.form-label>span {
    @apply mr-2;
}

@keyframes fade-in {
    from {
        transform: translate(0px, 50px);
        opacity: 0;
    }

    to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.form-checkbox {
    @apply p-3 flex justify-between items-center border-t w-full;
    transition: all .2s ease;
}

.form-checkbox:hover {
    @apply bg-slate-100;
}

.form-checkbox div {
    @apply overflow-hidden;
}

.form-checkbox div h3 {
    @apply text-lg whitespace-nowrap truncate;
}

.form-checkbox div p {
    @apply text-sm text-slate-500 whitespace-nowrap truncate;
}


.form-checkbox input[type="checkbox"] {
    display: none;
}

.form-checkbox-icon::before {
    @apply text-slate-500 text-2xl;
    font-family: "Material Symbols Outlined";
    content: "check_box_outline_blank";
}

.form-checkbox input[type="checkbox"]:checked+.form-checkbox-icon {
    font-variation-settings: 'FILL' 1;
}

.form-checkbox input[type="checkbox"]:checked+.form-checkbox-icon::before {
    @apply text-blue-500 text-2xl;
    font-family: "Material Symbols Outlined";
    content: "check_box";
}

/* radio */
.form-radio-group {
    @apply border-t border-slate-200 p-3;
}

.form-radio {
    @apply p-2 flex items-center w-full;
    transition: all .2s ease;
}

.form-radio:hover {
    @apply bg-slate-100;
}

.form-radio p {
    @apply ml-3;
}


.form-radio input[type="radio"] {
    display: none;
}

.form-radio-icon::before {
    @apply text-gray-600 text-2xl;
    font-family: "Material Symbols Outlined";
    content: "radio_button_unchecked";
}

.form-radio input[type="radio"]:checked+.form-radio-icon {
    font-variation-settings: 'FILL' 1;
}

.form-radio input[type="radio"]:checked+.form-radio-icon::before {
    @apply text-blue-500 text-2xl;
    font-family: "Material Symbols Outlined";
    content: "radio_button_checked";
}

/* table */
.custom-table {
    border-collapse: collapse;
}

.custom-table thead tr {
    @apply table-row;
}

.custom-table thead tr th {
    @apply table-cell px-5 py-3 text-center text-xl;
}

.custom-table tbody tr td {
    @apply border-r table-cell border-slate-100 bg-white px-5 py-3 text-center;
}

.custom-table tbody tr td:last-child {
    @apply border-0 table-cell bg-white px-5 py-3 text-center;
}

.custom-table tbody tr {
    @apply border-b table-row border-slate-100;
}

.custom-table tbody tr:last-child {
    @apply table-row border-0;
}

pre {
    @apply whitespace-pre-wrap;
}

.nothing {
    @apply py-5 text-center;
}

.nothing img {
    max-width: 100%;
    @apply mx-auto;
}

.nothing h3 {
    @apply text-2xl;
}

.nothing > p {
    @apply text-slate-500;
}

.lst-item {
    @apply border-t border-slate-200 w-full flex justify-between p-3 overflow-hidden;
}

.lst-item div h3 {
    @apply text-xl whitespace-nowrap truncate;
}

.lst-item div p {
    @apply text-sm text-slate-500 whitespace-nowrap truncate;
}

.lst-item nav {
    @apply flex gap-x-2
}

.tags {
    @apply flex gap-x-2;
}

.tags a {
    @apply rounded-full py-1 px-3 text-sm text-blue-500 bg-blue-100;
}

.sigma {
    @apply flex justify-center items-center mr-3 text-blue-500 bg-slate-200 text-2xl relative rounded-lg;
    width: 2.5rem;
    height: 2.5rem;
}

.sigma:hover {
    cursor: default;
}

.sigma:active {
    @apply outline-none;
}

@keyframes spin {
    0% {
        transform: skew(0, 0);
    }

    25% {
        background: transparent;
        backdrop-filter: invert(0%);
    }

    50% {
        transform: skew(90deg, 90deg);
        color: #a3e635;
        background: rgba(0, 0, 0, 0);
        backdrop-filter: invert(100%) hue-rotate(180deg);
    }

    75% {
        background: transparent;
        backdrop-filter: invert(0%);
    }

    100% {
        transform: skew(0, 0);
    }
}

@tailwind utilities;