{% extends "base.html" %}
{% block title %}Add{% endblock title%}

{% block content %}
<header class="header">
    <nav>
        <a href='/'><span class="mso">arrow_back</span></a>
    </nav>
    <h1>Add Note</h1>
    <nav>
        <a href="search"><span class="mso">search</span></a>
    </nav>
</header>

<section class="card">
    <form action="/addAction" method="post">
        <div class="mt-5">
            <label for="title" class="form-label"><span class="mso">format_list_bulleted</span> Title</label>
            <input id="title" name="title" type="text" class="form-input" required>
        </div>

        <div class="mt-5">
            <label for="content" class="form-label"><span class="mso">notes</span> Content</label>
            <textarea name="content" id="content" cols="auto" rows="13" class="form-input" required></textarea>
        </div>

        <div class="mt-5">
            <label for="tags" class="form-label"><span class="mso">label</span> Tags (separate by , )</label>
            <input id="tags" name="tags" type="text" class="form-input" required>
        </div>
        <div class="mt-5 flex justify-end gap-x-2">
            <button type="reset" class="btn btn-secondary">
                <p>Clear</p>
            </button>
            <button type="submit" class="btn btn-primary">
                <p>Save</p>
            </button>
        </div>
    </form>
</section>
{% endblock content %}