{% extends "base.html" %}
{% block title %}Detail{% endblock title%}

{% block content %}
<header class="header">
    <nav>
        <a href='/'><span class="mso">arrow_back</span></a>
    </nav>

    <h1>Detail</h1>

    <nav>
        <a href="search"><span class="mso">search</span></a>
    </nav>
</header>

<section class="card">
    {% if noteitem != 0 %}
    <div id="note-detail">
        <div class="func-bar">
            <div>
                <h1 class="text-xl">{{noteitem.title}}</h1>
            </div>

            <nav>
                <a id="markBtn" onclick="markAct()"
                    class="{% if noteitem.id in markedNotelstInd %}marked{% endif %}"><span
                        class="mso">bookmark</span></a>
                <a href="/edit/{{noteitem.id}}"><span class="mso">edit</span></a>
                <a href="/delete/{{noteitem.id}}"><span class="mso">delete</span></a>
            </nav>
        </div>

        <div class="tags mt-5">
            {% for tag in noteitem.tags %}
            <a href="/search?keyword={{tag}}">{{tag}}</a>
            {% endfor %}
        </div>

        <div class="p-2 py-3 whitespace-pre-wrap">{{noteitem.content}}</div>
    </div>
    {% endif %}

    {% if noteitem == 0 %}
    <div id="nothing" class="nothing">
        <img src="{{ url_for('static', filename='img/404.svg') }}" alt="Blank">
        <h3>Not Found</h3>
        <p>We couldn't find what you're looking for</p>
    </div>
    {% endif %}
</section>
{% endblock content %}

{% block script %}
<script>
    const markUrl = {{ url_for("markAction", markId = currId) | tojson }};
    function markAct() {
        fetch(markUrl).then(Response => Response.json()).then(data => {
            if (data['marked']) {
                document.getElementById('markBtn').classList.add('marked');
            }
            else {
                document.getElementById('markBtn').classList.remove('marked');
            }
        });
    }

</script>
{% endblock script %}