{% extends "base.html" %}
{% block title %}Edit{% endblock title%}

{% block content %}
<header class="header">
    <nav>
        <a href='{% if noteitem != 0 %}/detail/{{noteitem.id}}{% endif %}{% if noteitem == 0 %}/{% endif %}'><span
                class="mso">arrow_back</span></a>
    </nav>
    <h1>Edit Note</h1>
    <nav>
        <a href="search"><span class="mso">search</span></a>
    </nav>
</header>

<section class="card">
    {% if noteitem != 0 %}
    <form action="/editAction" method="post">
        <input type="hidden" name="id" value="{{noteitem.id}}">
        <div class="mt-5">
            <label for="title" class="form-label"><span class="mso">format_list_bulleted</span> Title</label>
            <input id="title" name="title" type="text" class="form-input" value="{{noteitem.title}}" required>
        </div>

        <div class="mt-5">
            <label for="content" class="form-label"><span class="mso">notes</span> Content</label>
            <textarea name="content" id="content" cols="auto" rows="13" class="form-input"
                required>{{noteitem.content}}</textarea>
        </div>

        <div class="mt-5">
            <label for="tags" class="form-label"><span class="mso">label</span> Tags</label>
            <input id="tags" name="tags" type="text" class="form-input" value="{{tags}}" required>
        </div>
        <div class="mt-5 flex justify-between">
            <div>
                <a href="/delete/{{noteitem.id}}" class="btn btn-white">Delete this Note</a>
            </div>
            <div class="flex gap-x-2">
                <button type="reset" class="btn btn-secondary">
                    <p>Reset</p>
                </button>
                <button type="submit" class="btn btn-primary">
                    <p>Save</p>
                </button>
            </div>
        </div>
    </form>
    {% endif %}

    {% if noteitem == 0 %}
    <div id="nothing" class="nothing">
        <img src="{{ url_for('static', filename='img/404.svg') }}" alt="Blank">
        <h3>Not Found</h3>
        <p>We couldn't find what you're looking for</p>
    </div>
    {% endif %}
</section>
{% endblock content %}