{% extends "base.html" %}
{% block title %}Index{% endblock title%}

{% block content %}
<header class="index-header">
    <h1><span class="mso">sticky_note_2</span> Note <span class="index-title-primary">Sigma</span>
    </h1>
    <nav>
        <a onclick="location.reload()"><span class="mso">refresh</span></a>
        <a href="settings"><span class="mso">settings</span></a>
        <a href="search"><span class="mso">search</span></a>
    </nav>
</header>
<section class="card">
    {% if notelst|length != 0 %}
    <div id="notes">
        <div class="func-bar">
            <div class="flex gap-x-2">
                <a href="/manage" class="btn btn-secondary"><span class="mso">tune</span>
                    <p>Manage</p>
                </a>
                <a href="/search/marked" class="btn btn-secondary"><span class="mso">bookmark</span>
                    <p>Marked</p>
                </a>
            </div>
            <a href="add" class="btn btn-primary"><span class="mso">add</span>
                <p>Add Note</p>
            </a>
        </div>
        {% for noteitem in notelst %}
        <div class="lst-item">
            <div>
                <h3>{{noteitem.title}}</h3>
                <p>{{noteitem.content}}</p>
                <div class="tags mt-2">
                    {% for tag in noteitem.tags %}
                    <a href="/search?keyword={{tag}}">{{tag}}</a>
                    {% endfor %}
                </div>
            </div>

            <nav>
                <a id="markBtn{{noteitem.id}}" onclick="markAct({{noteitem.id}})"
                    class="{% if noteitem.id in markedNotelstInd %}marked{% endif %}"><span
                        class="mso">bookmark</span></a>
                <a href="detail/{{noteitem.id}}"><span class="mso">arrow_forward</span></a>
            </nav>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if notelst|length == 0 %}
    <div id="nothing" class="nothing">
        <img src="{{ url_for('static', filename='img/blank.svg') }}" alt="Blank">
        <h3>Nothing added</h3>
        <p>Try adding something new!</p>
        <a href="add" class="btn btn-primary mt-5"><span class="mso">add</span>
            <p>Add Note</p>
        </a>
    </div>
    {% endif %}
</section>
{% endblock content %}

{% block script %}
<script>
    function markAct(x) {
        const markUrl = '/markAction/'.concat(x);
        fetch(markUrl).then(Response => Response.json()).then(data => {
            if (data['marked']) {
                document.getElementById('markBtn'.concat(x)).classList.add('marked');
            }
            else {
                document.getElementById('markBtn'.concat(x)).classList.remove('marked');
            }
        });
    }

</script>
{% endblock script %}