{% extends "base.html" %}
{% block title %}Manage{% endblock title%}

{% block content %}
<header class="header">
    <nav>
        <a href='/'><span class="mso">arrow_back</span></a>
    </nav>
    <h1>Manage{% if marked %} Marked{% endif %} Notes</h1>
    <nav>
        <a href="/search"><span class="mso">search</span></a>
    </nav>
</header>

<section class="card">
    {% if notelst|length != 0 %}
    <form id="manageForm" action="/manageAction" method="post">
        <div class="func-bar">
            <button type="reset" class="btn btn-secondary"><span class="mso">close</span>
                <p>Clear</p>
            </button>
            <button id="delBtn" type="submit" onclick="sent()" class="btn btn-danger"><span class="mso">delete</span>
                <p>Delete</p>
            </button>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for i in messages %}
        <p class="text-danger p-2">{{i}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% for noteitem in notelst %}
        <label id="{{noteitem.id}}" class="form-checkbox">
            <div>
                <h3>{{noteitem.title}}</h3>
                <p>{{noteitem.content}}</p>
            </div>
            <input type="checkbox" name="noteitem" value="{{noteitem.id}}">
            <span class="form-checkbox-icon"></span>
        </label>
        {% endfor %}

    </form>
    {% endif %}


    {% if notelst|length == 0 %}
    <div id="nothing" class="nothing">
        <img src="{{ url_for('static', filename='img/blank.svg') }}" alt="Blank">
        <h3>Nothing added</h3>
        <p>Try adding something new!</p>
    </div>
    {% endif %}
</section>
{% endblock content %}