{% extends "base.html" %}
{% block title %}Search{% endblock title%}

{% block content %}
<header class="header">
    <nav>
        <a href='/'><span class="mso">arrow_back</span></a>
    </nav>
    <h1>{% if marked %}Marked Notes{% endif %}{% if not marked %}Search{% endif %}</h1>
    <nav>
        <a href="search"><span class="mso">search</span></a>
    </nav>
</header>

{% if not marked %}
<section class="card">
    <form action="/search" method="get">
        <div>
            <label for="search" class="form-label"><span class="mso">search</span> search</label>
            <input id="search" name="keyword" type="text" class="form-input"
                placeholder="Type words that you're looking for" required
                value="{% if keyword %}{{keyword}}{% endif %}">
        </div>

        <div class="mt-5 flex justify-end gap-x-2">
            <button type="reset" class="btn btn-secondary">
                <p>Clear</p>
            </button>
            <button type="submit" class="btn btn-primary">
                <p>Search</p>
            </button>
        </div>
    </form>
</section>
{% endif %}

{% if keyword %}
<section class="card mt-5">
    <div class="func-bar">
        <p class="form-label"><span class="mso">manage_search</span> Results</p>
        <nav>
            <a href="/manage/search?keyword={{keyword}}">
                <span class="mso">tune</span>
            </a>
        </nav>
    </div>
    {% if resultlst|length !=0 %}
    <div class="note-lst">
        {% for noteitem in resultlst %}
        <div class="lst-item">
            <div>
                <h3>{{noteitem.title}}</h3>
                <p>{{noteitem.content}}</p>
                <div class="tags mt-2">
                    {% for tag in noteitem.tags %}
                    <a href="/search?keyword={{tag}}">{{tag}}</a>
                    {% endfor %}
                </div>
            </div>

            <nav>
                <a id="markBtn{{noteitem.id}}" onclick="markAct({{noteitem.id}})"
                    class="{% if noteitem.id in markedNotelstInd %}marked{% endif %}"><span
                        class="mso">bookmark</span></a>
                <a href="detail/{{noteitem.id}}"><span class="mso">arrow_forward</span></a>
            </nav>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if resultlst|length == 0 %}
    <div id="nothing" class="nothing">
        <img src="{{ url_for('static', filename='img/404.svg') }}" alt="Blank">
        <h3>Not Found</h3>
        <p>We couldn't find what you're looking for</p>
    </div>
    {% endif %}
</section>
{% endif %}

{% if marked %}
<section class="card">
    {% if markedNotelst|length !=0 %}
    <div class="func-bar">
        <p class="form-label"><span class="mso">manage_search</span> Results</p>
        <nav>
            <a href="/manage/marked">
                <span class="mso">tune</span>
            </a>
        </nav>
    </div>
    <div class="note-lst">
        {% for noteitem in markedNotelst %}
        <div class="lst-item">
            <div>
                <h3>{{noteitem.title}}</h3>
                <p>{{noteitem.content}}</p>
                <div class="tags mt-2">
                    {% for tag in noteitem.tags %}
                    <a href="/search?keyword={{tag}}">{{tag}}</a>
                    {% endfor %}
                </div>
            </div>

            <nav>
                <a id="markBtn{{noteitem.id}}" onclick="markAct({{noteitem.id}})" class="marked"><span
                        class="mso">bookmark</span></a>
                <a href="/detail/{{noteitem.id}}"><span class="mso">arrow_forward</span></a>
            </nav>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if markedNotelst|length == 0 %}
    <div id="nothing" class="nothing">
        <img src="{{ url_for('static', filename='img/blank.svg') }}" alt="Blank">
        <h3>Nothing Marked</h3>
        <p>Try marking something via the mark button</p>
    </div>
    {% endif %}
</section>
{% endif %}
{% endblock content %}

{% block script %}
<script>
    function markAct(x) {
        const markUrl = '/markAction/'.concat(x);
        fetch(markUrl).then(Response => Response.json()).then(data => {
            if (data['marked']) {
                document.getElementById('markBtn'.concat(x)).classList.add('marked');
            }
            else {
                document.getElementById('markBtn'.concat(x)).classList.remove('marked');
            }
        });
    }
</script>
{% endblock script %}