{% extends "base.html" %}
{% block title %}Settings{% endblock title%}

{% block content %}
<header class="header">
    <nav>
        <a href='/'><span class="mso">arrow_back</span></a>
    </nav>
    <h1 class="">Settings</h1>
    <nav>
        <a href="search"><span class="mso">search</span></a>
    </nav>
</header>

<section class="card">
    <form action="/settingsSave" method="post">
        <div class="func-bar">
            <button type="reset" class="btn btn-secondary"><span class="mso">close</span>
                <p>Reset</p>
            </button>
            <button type="submit" class="btn btn-primary"><span class="mso">check</span>
                <p>Save</p>
            </button>
        </div>

        <!-- <label class="form-checkbox">
                    <div>
                        <h3>Remove animations</h3>
                        <p>Remove pop-up animation when loading pages</p>
                    </div>
                    <input type="checkbox" name="rmAnim" {% if setts.rmAnim %}checked{% endif %}>
                    <span class="form-checkbox-icon"></span>
                </label> -->

        <div class="form-radio-group">
            <h3 class="text-lg">Themes</h3>
            <label for="light" class="form-radio">
                <input type="radio" name="theme" id="light" value="light" {% if setts.theme=='light' %}checked{% endif
                    %}>
                <span class="form-radio-icon"></span>
                <p>Light (default)</p>
            </label>

            <label for="dark" class="form-radio">
                <input type="radio" name="theme" id="dark" value="dark" {% if setts.theme=='dark' %}checked{% endif %}>
                <span class="form-radio-icon"></span>
                <p>Dark</p>
            </label>

            <label for="bright" class="form-radio">
                <input type="radio" name="theme" id="bright" value="bright" {% if setts.theme=='bright' %}checked{%
                    endif %}>
                <span class="form-radio-icon"></span>
                <p>Bright</p>
            </label>

            <label for="classic" class="form-radio">
                <input type="radio" name="theme" id="classic" value="classic" {% if setts.theme=='classic' %}checked{%
                    endif %}>
                <span class="form-radio-icon"></span>
                <p>Classic</p>
            </label>

            <label for="material" class="form-radio">
                <input type="radio" name="theme" id="material" value="material" {% if setts.theme=='material'
                    %}checked{% endif %}>
                <span class="form-radio-icon"></span>
                <p>Material</p>
            </label>

            <label for="sharp" class="form-radio">
                <input type="radio" name="theme" id="sharp" value="sharp" {% if setts.theme=='sharp' %}checked{% endif
                    %}>
                <span class="form-radio-icon"></span>
                <p>Sharp</p>
            </label>
        </div>

    </form>
</section>
<section class="card mt-5">
    <div class="flex items-center">
        <button onclick="AddTaps()" class="mso sigma">sticky_note_2</button>
        <p class="text-slate-500 text-sm">Note Sigma<br>Version: 2.0.1.7122<br>Made by <a href="https://github.com/roywatermelon11370">roywatermelon11370</a></p>
    </div>
</section>

<div id="more"></div>

{% endblock content %}

{% block script %}
<script>
    var tapTimes = 0;
    d1 = document.getElementById('more');
    function AddTaps() {
        tapTimes = tapTimes + 1;
        console.log(tapTimes);
        if (tapTimes > 1) {
            d1.innerHTML = '<section class="card mt-5 text-center"><img src="{{ url_for("static", filename="img/cat.jpg") }}" alt="cat" class="rounded-lg"><p class="mt-2 text-slate-500">A cat sleeping lazily in a parking lot</p></section>';
        }
    }



</script>
{% endblock script %}